Prime-Generator-CSharp/.vs/Prime-Generator-CSharp/v16/.suo
Prime-Generator-CSharp/obj/Prime-Generator-CSharp.csproj.nuget.cache
Prime-Generator-CSharp/obj/Prime-Generator-CSharp.csproj.nuget.dgspec.json
Prime-Generator-CSharp/obj/Prime-Generator-CSharp.csproj.nuget.g.props
Prime-Generator-CSharp/obj/Prime-Generator-CSharp.csproj.nuget.g.targets
Prime-Generator-CSharp/obj/project.assets.json
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.AssemblyInfo.cs
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.AssemblyInfoInputs.cache
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.assets.cache
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.csproj.CoreCompileInputs.cache
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.csprojAssemblyReference.cache
.vscode/launch.json
.vscode/tasks.json
