Prime-Generator-CSharp/.vs/Prime-Generator-CSharp/v16/.suo
Prime-Generator-CSharp/obj/Prime-Generator-CSharp.csproj.nuget.cache
Prime-Generator-CSharp/obj/Prime-Generator-CSharp.csproj.nuget.dgspec.json
Prime-Generator-CSharp/obj/Prime-Generator-CSharp.csproj.nuget.g.props
Prime-Generator-CSharp/obj/Prime-Generator-CSharp.csproj.nuget.g.targets
Prime-Generator-CSharp/obj/project.assets.json
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.AssemblyInfo.cs
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.AssemblyInfoInputs.cache
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.assets.cache
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.csproj.CoreCompileInputs.cache
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.csprojAssemblyReference.cache
.vscode/launch.json
.vscode/tasks.json
Prime-Generator-CSharp/bin/Debug/netcoreapp2.2/Prime-Generator-CSharp.deps.json
Prime-Generator-CSharp/bin/Debug/netcoreapp2.2/Prime-Generator-CSharp.dll
Prime-Generator-CSharp/bin/Debug/netcoreapp2.2/Prime-Generator-CSharp.pdb
Prime-Generator-CSharp/bin/Debug/netcoreapp2.2/Prime-Generator-CSharp.runtimeconfig.dev.json
Prime-Generator-CSharp/bin/Debug/netcoreapp2.2/Prime-Generator-CSharp.runtimeconfig.json
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.csproj.FileListAbsolute.txt
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.dll
Prime-Generator-CSharp/obj/Debug/netcoreapp2.2/Prime-Generator-CSharp.pdb
Prime-Generator-CSharp/.vs/Prime-Generator-CSharp/v16/Server/sqlite3/db.lock
Prime-Generator-CSharp/.vs/Prime-Generator-CSharp/v16/Server/sqlite3/storage.ide
Prime-Generator-CSharp/.vs/Prime-Generator-CSharp/v16/Server/sqlite3/storage.ide-shm
Prime-Generator-CSharp/.vs/Prime-Generator-CSharp/v16/Server/sqlite3/storage.ide-wal
